# Peer review: Pythonic code

In [1]:
# Import the libraries.
import pandas as pd
import numpy as np

# Import the CSV file.
products = pd.read_csv('Data/products.csv')

# View the DataFrame.
products

         StockCode                        Description
0            10002         INFLATABLE POLITICAL GLOBE
1            10080           GROOVY CACTUS INFLATABLE
2            10120                       DOGGY RUBBER
3           10123C               HEARTS WRAPPING TAPE
4           10124A        SPOTS ON RED BOOKCOVER TAPE
...            ...                                ...
3940  gift_0001_20  Dotcomgiftshop Gift Voucher £20.0
3941  gift_0001_30  Dotcomgiftshop Gift Voucher £30.0
3942  gift_0001_40  Dotcomgiftshop Gift Voucher £40.0
3943  gift_0001_50  Dotcomgiftshop Gift Voucher £50.0
3944             m                             Manual

[3945 rows x 2 columns]

## # How many products have the word 'Fire' in their description?

In [4]:
# Lambda funtion to find if the word 'fire' is in the DataFrame.
fire_list = products[products['Description'].apply(lambda x: 
                                     'fire' in x.lower())]
# Count of products.
cnt_fire = fire_list['Description'].count() 

# View results.
print("Products with the word 'fire': ", cnt_fire) 

fire_list

Products with the word 'fire':  9

     StockCode                          Description
1318     22428             ENAMEL FIRE BUCKET CREAM
3033    84569B       PACK 3 FIRE ENGINE/CAR PATCHES
3626    90039A     FIRE POLISHED GLASS BRACELET RED
3627    90039B  FIRE POLISHED GLASS BRACELET MONTAN
3628    90039C   FIRE POLISHED GLASS BRACELET BLACK
3629    90039D   FIRE POLISHED GLASS BRACELET GREEN
3656    90060B       FIRE POLISHED GLASS NECKL GOLD
3657    90060D     FIRE POLISHED GLASS NECKL BRONZE
3658    90060F      FIRE POLISHED GLASS NECKL GREEN

## How many products contain the word 'candle' in their description?

In [5]:
# Lambda funtion to find if the word 'candle' is in the DataFrame

candle_list = products[products['Description'].apply(lambda x:
                                     'candle' in x.lower())]
# Count of products.
cnt_candle = candle_list['Description'].count() 

# View results.
print("Products with the word 'candle': ", cnt_candle) 

candle_list

Products with the word 'candle':  178

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

## How many products contain the word 'matches' in their description?

In [8]:
# Lambda funtion to find if the word 'matches' is in the DataFrame
word = 'matches'
matches_list = products[products['Description'].apply(lambda x:
                                     word in x.lower())]
# Count of products.
cnt_matches = matches_list['Description'].count() 

# View results.
print("Products with the word 'matches': ", cnt_matches) 

matches_list

Products with the word 'matches':  6

    StockCode                      Description
669     21584     RETROSPOT SMALL TUBE MATCHES
670     21586  KINGS CHOICE GIANT TUBE MATCHES
671     21587     COSY HOUR GIANT TUBE MATCHES
672     21588     RETROSPOT GIANT TUBE MATCHES
673     21591      COSY HOUR CIGAR BOX MATCHES
674     21592      RETROSPOT CIGAR BOX MATCHES